<p id="notice"><%= notice %></p>

<div class="w3-panel w3-green">

<div>x</div>

<div>


<p>
  <strong>Name:</strong>
  <%= @x.name %>
</p>


</div>

<div>

<%= link_to 'Edit', edit_x_path(@x) ,class:"w3-button w3-hover-purple" %> |
<%= link_to 'Back', xes_path , class:"w3-button w3-hover-purple" %>

</div></div>
