<h1>About</h1>
<p>Welcome to the About page!</p>
<p> The purpose of this website is to show you a website that has been built through coding with Ruby on Rails.</p>
<p> I have developed a website in which a consumer could purchase books pertaining to Ruby code to help them with IT 231 at DePaul Univesity.</p>

