<div class= "w3-panel w3-cyan w3-round-large w3-center">
    <h1>About Us</h1> 
</div>


<div class="w3-container w3-pale-blue">
<h1>Our DePaul Barnes & Noble Bookstore!</h1> 
<p>Taking advantage of vast warehouses across the United States, we stock over 1 million titles for immediate delivery -- that's more titles than any other online bookseller.</p>
<p> With so many titles, it is vital to give customers an easy way to find precisely the books they are looking for.
Our search engine enables customers to locate books by title, author, or keyword in a few seconds at most.
Customers with a general idea of what they want can use our Browse pages to sift through hundreds of categories to find exactly the right book.
To further assist users, we offer descriptions and reviews, and our See Inside program lets customers read excerpts from tens of thousands of titles.
We also offer editor recommendations and customer reviews on hundreds of thousands of titles.</p>

<p>Barnes & Noble.com Makes Shopping Easy. Barnes & Noble Members get Unlimited Free Member Express Shipping in 3 days or less on eligible orders.
Non-members can get Free Shipping on orders of $25 or more of eligible items. We even offer Same Day Delivery to Manhattan at no extra charge.</p>

<h2>DePaul</h2>
<p> In 2007, we entered in a partnership with DePaul University. Since we became the primary bookstore on campus, we cater to your needs! At our bookstore you can find all the textbooks you need for your classes for low prices!
We give DePaul students special discounts on books, athletic wear, school clothing, and much more! Not to mention, we give the students the option to buy, rent, and sell their textbooks! 
We also give the option of extending your book rental period if you need it for more than one quarter. </p>

</div>
