<div class= "w3-panel w3-cyan w3-round-large w3-center">
    <h1>Help</h1> 
</div>

<div class="w3-container w3-pale-blue">
<p> We can be reached via phone, email, or twitter Monday-Friday 9a.m.-5p.m. Below is our contact support information:</p>
<p> <ol> Phone: 773-514-9635</ol>
<ol> General inquiries email: depaulbn@gmail.com</ol>
<ol> IT support email: depaulbnIT@gmail.com</ol>
<ol> Twitter: @depaulBN</ol></p>
</div>