<h1>Home</h1>
<p>Welcome to my home page! Here you will find all sorts of information on working with Ruby and resources to help you develop your own page.</p>
<p>Below are some website that will help you along the process:
<ol>1. http://guides.rubyonrails.org/getting_started.html </ol>
<ol>2. https://www.tutorialspoint.com/ruby-on-rails/rails-introduction.htm </ol>
<ol>3. https://www.theodinproject.com/courses/ruby-on-rails</ol>
</p>