<div class= "w3-panel w3-cyan w3-round-large w3-center">
    <h1>Home</h1> 
</div>

<div class="w3-container w3-pale-blue">
<p> Welcome to our home page! Here you will find information on all the latest books that have been released into the market! We have provided some book review websites to help you find your next book!</p>
<p>Below are some websites that will help you select your next book:</p>

<p><ol><a href= "https://www.goodreads.com/"> https://www.goodreads.com/</a></ol>
<ol><a href= "http://www.businessinsider.com/amazon-100-best-books-to-read-in-your-lifetime-2017-3"> http://www.businessinsider.com/</a></ol>
<ol><a href= "https://www.nytimes.com/section/books/review"> https://www.nytimes.com/section/books/review</a></ol> </p>

</div>
