<!DOCTYPE html>
<html>
  <head>
    <title>Bootcont</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class= "w3-container">
    <div class="w3-bar w3-black">
      <a href="/static_pages/home" class="w3-button w3-hover-purple">Home</a> 
      <a href="/quotes" class="w3-button w3-hover-purple">Quotes</a>
      <a href="/xes" class="w3-button w3-hover-purple">X's</a>
      <a href="/static_pages/help" class="w3-button w3-hover-purple">Help</a>
      <a href="/static_pages/about" class="w3-button w3-hover-purple">About</a>
    </div>
    <div>
    <%= yield %>
    
    </div>
  </body>
</html>
